docker {
    enabled = true
}

params {

    output = "nfResults"

    inputFQ = "raw_data"
    designFile = "raw_data/keratoconus_design.txt"
    hisatIdx = "reference/hisat2_index.tar.gz"
    annotationFile = "reference/gencode.v48.annotation.gtf.gz"
    transcriptFile = "reference/transcripts.gtf.gz"
    statAnalysisFile = "scripts/rna-seq-counts.R"

    threads = 8
    
}