docker {
    enabled = true
    runOptions = '--platform linux/amd64'
}

workDir = "/Volumes/seagate/bioinformatics/rnaseq/nxtWork"

params {

    output = "/Volumes/seagate/bioinformatics/rnaseq/nfResults"

    inputFQ = "/Volumes/seagate/bioinformatics/rnaseq/raw_data"
    designFile = "/Volumes/seagate/bioinformatics/rnaseq/raw_data/keratoconus_design.txt"
    hisatIdx = "/Volumes/seagate/bioinformatics/rnaseq/reference/hisat2_index.tar.gz"
    annotationFile = "/Volumes/seagate/bioinformatics/rnaseq/reference/gencode.v48.annotation.gtf.gz"
    transcriptFile = "/Volumes/seagate/bioinformatics/rnaseq/reference/transcripts.gtf.gz"
    statAnalysisFile = "/Volumes/seagate/bioinformatics/rnaseq/R_Counts/rna-seq-counts.R"

    threads = 4
    
}

process {

    withLabel: 'fastp' {
        container = "biocontainers/fastp:v0.20.1_cv1"
    }

    withLabel: 'hisat' {
        container = "nanozoo/hisat2:2.2.1.commit7e01700--5e923e8"
    }

    withLabel: 'featureCounts' {
        container = "pegi3s/feature-counts"
    }

    withLabel: 'stringtie' {
        container = "mgibio/stringtie:v2.2.1-focal"
    }

}